<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Microposts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
      <!--ここから下が新規記述--上はBootstrapテンプレート>  
          
        <!--ログインできた場合-->
        <% if logged_in? %>
        <!--user一覧のリンクを実装-->
          <li><%= link_to 'Users',users_path %></li>
          <li><%= link_to 'My likes',likes_user_path(current_user)%></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <!--dropdown-menuを実装しその中にMy ProfileリンクとLogoutリンクを実装-->
               <li><%= link_to 'My profile',user_path(current_user) %>&nbsp;</li>
               <li role="separator" class="divider">&nbsp;</li>
               <li><%= link_to 'Logout', logout_path, method: :delete %>&nbsp;</li>
             </ul>
           </li>
           <!--ログインしていない or ログインできなかった場合-->
        <% else %>
          <!--Signupにリンクを付ける-->
          <li><%= link_to 'Signup', signup_path %></li>
          <!--loginにリンクを付ける-->
          <li><%= link_to 'login' , login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>